.work-exp {
  padding-left: 20px;
  color: black;
  font-size: 20px;
}

.workexp {
  font-size: 18px;
  color: #f74e4b;
  padding-left: 20px;
  padding-top: 20px;
}

.job-title {
  color: var(--primary-colour);
  font-size: 16px;
  margin: 0px;
}

.company {
  color: var(--primary-colour);
  font-size: 16px;
  margin: 0px;
}
.date-location {
  color: var(--primary-colour);
  display: flex;
  justify-content: space-between;
  font-style: italic;
  font-size: 11px;
}

.responsibilities {
  margin-block-start: auto;
  font-size: 12px;
  font-weight: 500px;
  color: var(--primary-colour);
}
