body {
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-colour);
  color: var(--font-colour);
  background: #0000000f;

  display: flex;
  align-items: center;
  justify-content: center;
}

.CV {
  width: 900px;
  margin: 40px;
  background-color: var(--bg-colour);
  color: var(--primary-colour);
  box-shadow: 0px 0px 14px 9px rgba(0, 0, 0, 0.18);

  border-radius: 20px;
}

.content * {
  transition: 0.4s;
}

.content {
  display: flex;
  margin: 20px;

  height: 620px;
  overflow: scroll;
}

.right-content {
  flex: 1;
}
